@import "shared.css";
@import "style.css";
@import "table-shared.css";
/*******************************************************************/

.date-caret{
    position: absolute;
    left: 17px;
    top: 40px;
    color: grey;
}
.ranges{
    padding: 10px;
}
.daterangepicker .calendar{
    max-width: 386px;
    padding: 0;
}
@media screen and (max-width: 600px){
    .daterangepicker .table-condensed tr>td, .daterangepicker .table-condensed tr>th, .table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{
        padding: 0;
    }
    .daterangepicker.opensleft:after, .daterangepicker.opensleft:before{
        display: none;
    }
}
@media (min-width: 564px){
    .daterangepicker .calendar, .daterangepicker .ranges, .daterangepicker.single .calendar, .daterangepicker.single .ranges {
        float: right;
    }
}