@import "shared.css";
@import "style.css";
@import "table-shared.css";
/*******************************************************************/

.tabbable{
    border-color: transparent;
}
.tabbable.panel{
    margin-bottom: 0!important;

}
.panel-body{
    padding: 0!important;
}
.setting .modal-body{
    padding: 10px;
}
.mdtimepicker{
    direction: ltr;
}
.nav-tabs.nav-justified>li>a{
    padding: 0;
}
@media screen and (max-width: 768px){
    .nav-tabs:before {
        content: '';
    }
    .nav-tabs>li.active>a:after, .nav-tabs>li.active>a:focus:after, .nav-tabs>li.active>a:hover:after{
        background-color: rgb(130, 26, 60);
    }
    .nav-tabs.nav-justified>li>a{
        padding: 9px 15px;
    }
}
