@import "../../../shared/login.css";
body{
    padding-bottom: 0!important;
}
.page-container{
    background: url("../../../shared/images/bg2.jpg") no-repeat scroll center center;
    background-size: cover;
}
img{
    width: 200px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
}
#reset-btn{
    position: absolute;
    top: 0;
    border-radius: 0;
    right: 0;
}
@media screen and (max-width: 600px){
    img{
        width: 120px;
    }
}