@import "shared.css";
@import "style.css";
@import "table-shared.css";
/*******************************************************************/

.main-service{
    padding: 5px;
}
.subservices{
    padding: 5px 35px;
}
.subservices p{
    cursor: pointer;
}
#steps{
    height: 300px;
    overflow-y: auto;
}
.circle {
    position: relative;
    border: 1px solid black;
    padding: 0;
    margin: 1em auto;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
}

.quarter {
    position: absolute;
    width: 50%;
    height: 50%;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    /*box-shadow:0px 0px 15px rgba(0,0,0,0.7);*/
}

.quarter1 {
    top: 0;
    left: 0;
    /*background-color:red;*/
    border-radius: 100% 0 0 0;
    border: 1px solid black;
}

.quarter2 {
    top: 0;
    right: 0;
    /*background-color:blue;*/
    border-radius: 0 100% 0 0;
    border: 1px solid black;
}

.quarter3 {
    bottom: 0;
    left: 0;
    /*background-color:orange;*/
    border-radius: 0 0 0 100%;
    border: 1px solid black;
}

.quarter4 {
    bottom: 0;
    right: 0;
    /*background-color:green;*/
    border-radius: 0 0 100% 0;
    border: 1px solid black;
}

.rating {
    width: 10px;
    height: 20px;
    padding-left: 28px;
    border-radius: 10px !important;
    position: absolute;
    z-index: 5;
    top: 13px;
    left: 8px;
    border: 1px solid black;
    float: right;
}

.starshow {
    color: red;
    font-size: 30px;
}

.rating {
    border-radius: 15px;
    overflow: hidden;
    perspective: 1px;
}

.imgBorder {
    box-shadow: 0 0 2px 3px black;
}

.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.divSteps {
    padding-right: 230px;
    padding-top: 50px;
    color: red;
    font-size:20px;
}
.navigation .badge, .navigation .label{
    float: none;
}
.desc-table > p{
    display: block;
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
#editChart{
    width: 600px;
    margin: auto;
}
#child-table{
    text-align: -webkit-center;
    text-align: -moz-center;
}

.blur{
    filter: blur(2px);
}
.desc-circle{
    list-style-type: decimal;
    direction: ltr;
    padding-top: 28px;
}
.desc-circle li{
    font-weight: bold;
}
.desc-circle li:first-letter{
    color: red;
}
.circle-show{
    font-size: 29px;
    text-align: center;
}
.rating-1{
    width: 35px;
    height: 40px;
    padding-left: 0;
    border-radius: 32px !important;
    position: absolute;
    z-index: 5;
    top: 20px;
    text-align: center;
    left: 25px;
    border: 1px solid black;
    float: right;
}


@media screen and (max-width: 993px) and (min-width: 769px){
    #TableAdd, #TableAdd-2{
        font-size: 15px;
    }
}
@media screen and (max-width: 870px) and (min-width: 769px){
.desc-table > p{
    width: 50px;
}
    .circle-show{
       margin: 1em 0;
    }
    #TableAdd img{
        width: 41px;
    }
    .teeth-modal{
        padding: 10px;
    }
}
@media (min-width: 769px){
    .modal-dialog:first-child {
        width: 900px;
    }

}

@media (max-width: 769px){
    .desc-table > p{
        width: auto;
    }
    #editChart{
        width: 350px;
    }
    .text-area:last-child{
        width: 90%;
    }
    .desc-circle{
        padding-top: 0;
        list-style-position: inside;
        text-align: center;
    }
}
@media screen and (max-width: 1025px) and (min-width: 768px){
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 12px 4px;
    }
}